{port_specs, [{"priv/ip_index_nif.so", ["c_src/*.cpp", "c_src/*.c"]}]}.
{eunit_opts, [verbose]}.

{port_env, [{"LDFLAGS", "$LDFLAGS -lstdc++"},
            {"CFLAGS", "$CFLAGS -Wall -Wextra -pedantic -O0 -std=gnu11 -ggdb"},
            {"CXXFLAGS", "$CXXFLAGS -Wall -Wextra -pedantic -std=gnu++11 -O0 -ggdb"}]}.
