{deps, [
  {timing, ".*",
    {git, "https://github.com/lpgauth/timing.git", {branch, "master"}}}
]}.

{port_specs, [{"priv/ip_index_nif.so", ["c_src/*.cpp", "c_src/*.c"]}]}.

{port_env, [{"LDFLAGS", "$LDFLAGS -lstdc++"},
            {"CFLAGS", "$CFLAGS -Wall -O2 -ggdb"},
            {"CXXFLAGS", "$CXXFLAGS -Wall -std=c++11 -O2 -ggdb"}]}.
